.text-profile {
    font-family: roboto-bold;
}

.img-profile {
    width: 75px;
    height: 75px;
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 50px;
    border: 1px solid #365B8F;
}

.txt-username{
    font-family: roboto-bold;
    font-size: 16px;
    color: #58595D;
}

.txt-email {
    font-family: roboto;
    font-size: 14px;
    color: #7C7D7E;
    // margin-top: 5%;
}

.mvh {
    margin-top: 50vh;
}
