<div class="animasi">
    <app-top-bar></app-top-bar>

    <div class="d-flex flex-column" style="margin: 10% 5%;">
        <div class="d-flex flex-row" style="margin-bottom: 5%;">
            <mat-icon class="align-self-center" style="margin-right: 4%;" (click)="back()">arrow_back</mat-icon>
            <p class="txt-generate">History Detail</p>
        </div>
    
        <div class="d-flex flex-row justify-content-between mt-2" style="margin: 0 3%;">
            <p class="txt-sub-header">Harvest Date</p>
            <p class="txt-sub-header">{{data_history?.harvest_date}}</p>
        </div>
    
        <div class="card-stats mt-4">
            <p class="txt-header">Your Past Harvest Result</p>
    
            <div class="d-flex flex-row justify-content-between mt-3">
                <p class="txt-key">Gross Harvest Result</p>
                <p class="txt-value">$ {{data_history?.harvest_result_price}}</p>
            </div>
            <div class="d-flex flex-row justify-content-between mt-2">
                <p class="txt-key">Harvest Result Quantity</p>
                <p class="txt-value">{{data_history?.harvest_result_qty}}</p>
            </div>
            <div class="d-flex flex-row justify-content-between mt-2">
                <p class="txt-key">Pesticide Used</p>
                <p class="txt-value">{{data_history?.pesticide_used}} Ltr</p>
            </div>
            <div class="d-flex flex-row justify-content-between mt-2">
                <p class="txt-key">Fertilizer Used</p>
                <p class="txt-value">{{data_history?.fertilizer_used}} Kg</p>
            </div>
            <div class="d-flex flex-row justify-content-between mt-2">
                <p class="txt-key">Labor Used</p>
                <p class="txt-value">{{data_history?.labor_used}} Persons</p>
            </div>
        </div>
    </div>
</div>
