<div>
    <div class="side-bar">
    </div>
    <div style="display: flex;flex-direction: column;">
        <img class="gambar-center slide-in-fwd-center" src="../../assets/Logo.svg">
        <h1 class="text-intro">Start getting recomendation for your<br> crop plots today</h1>

        <button mat-raised-button color="primary" class="global-color button" style="margin-top: 30px;"
            (click)="gotoLoginOne()">
            <p class="text">Log In</p>
        </button>

        <button mat-raised-button color="primary" class="second-color button-two" style="margin-top: 25px;"
            (click)="gotoSignUp()">
            <p>Sign Up</p>
        </button>
    </div>

    <div>
        <img class="gambar-bawah" src="../../assets/bottom-illustration.svg">
    </div>

</div>