.card-stats {
    width: auto;
    box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
    padding: 3% 3%;
}

p{
    margin-bottom: 0;
}

.txt-key {
    color: #58595d;
    font-family: roboto;
    font-size: 14px;
}

.txt-value {
    font-family: roboto-bold;
    color: #134f5c;
    font-size: 14px;
}

.txt-header {
    font-family: roboto-bold;
    color: #134f5c;
    font-size: 16px;
}

.txt-link {
    color: #147ad6;
    font-family: roboto-bold;
    font-size: 14px;
}

.global-color {
    background-color: #92aa99;
}

.txt-select{
    color: #58595D;
    font-family: roboto-bold;
    
}

.button {
    width: 100%;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    border-radius: 7px;
    p{
        margin-top: auto;
        margin-bottom: auto;
        color: #FAFAFA;
    }
    
}